* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  height: 2000px;
}
.navigation {
  display: flex;
  margin: 0px;
  background-color: darkcyan;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
}
.navigation > ul {
  justify-content: right;
  text-align: right;
}
ul > li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
a {
  text-decoration: none;
  color: white;
}
.navigation h3 {
  color: whitesmoke;
}
@media (max-width: 768px) {

  .navigation {
    flex-direction: column;
    align-items: center;
  }

  .navigation ul {
    margin-top: 10px;
  }

  ul > li {
    display: block;
    padding: 8px 0;
    text-align: center;
  }

}
.main {
  display: flex;
  margin: 50px;
  color: white;
  gap: 80px;
  justify-content: center;
  align-items: center;
}
img {
  height: 290px;
  width: auto;
  margin-left: 40px;
  border-radius: 50%;
}
#b1{
  margin: 50px;
  padding: 20px;
  background-color: aqua;
  font-style: italic;
}
h1{
  flex: 1;
  text-align: left;
}
@media (max-width: 768px) {
  img {
    height: 220px;
    margin-left: 0;
    margin-top: 20px;
  }
  .main {
    flex-direction: column;  
    text-align: center;
    margin: 30px 20px;
  }
}
.about{
  padding: 100px 80px;   
  background-color: #000;
  color: white;
}
.contact {
  text-align: center;
  padding: 80px 20px;
  color: white;
  background-color: rgb(23, 22, 22);
  font-size: x-large;
}

